\documentclass[11pt,a4paper]{article}
\usepackage[utf8]{utf8}
\usepackage[margin=0.8in]{geometry}
\usepackage{hyperref}

\pagestyle{empty}

\begin{document}

\noindent \textbf{ {{ candidate_name }} } \\
{{ candidate_email }} $\cdot$ {{ candidate_phone }} \\
\today \\[12pt]

\noindent \textbf{Hiring Manager} \\
{{ company_name }} \\[12pt]

\noindent \textbf{Re: Application for {{ job_title }} } \\[12pt]

Dear Hiring Manager, \\[6pt]

{{ body_text }} \\[12pt]

Sincerely, \\[18pt]
\textbf{ {{ candidate_name }} }

\end{document}
